{
    "database_url": "postgres://{{ db_user }}:{{ db_password }}@localhost/{{ db_name }}",
    "domains"     : [ {{ subdomains }} ],
    "subs_url"    : [ https://{{ dynette_domain }} ],
    "ns0"         : {{ ns0 }},
    "ns1"         : {{ ns1 }},
    "rname"       : {{ rname }},
    "master_key"  : {{ master_key }}
}
