{% for domain in domains %}
zone "{{ domain.name }}" {
   type master;
   file "/var/lib/bind/{{ domain.name }}.db";
   update-policy {
       grant * selfsub . A AAAA TXT MX CAA CNAME SRV DNAME;
   };
};

include "/etc/bind/keys/*.conf"
{% endfor %}
