{% for domain in domains %}
zone "{{ domain.name }}" {
   type master;
   file "/var/lib/bind/{{ domain.name }}.db";
   update-policy {
       grant * selfsub . A AAAA TXT MX CAA CNAME SRV DNAME;
   };
};

{% for subdomain in domain.subdomains %}
key {{ subdomain.name }}. {
       algorithm hmac-sha512;
       secret "{{ subdomain.key }}";
};
{% endfor %}
{% endfor %}
