{%- for domain, subdomains in domains.items() -%}
zone "{{ domain }}" {
    type master;
    file "/var/lib/bind/{{ domain }}.db";
    update-policy {
        {%- for subdomain in subdomains %}
        grant {{ subdomain.name }}. name {{ subdomain.name }}. A AAAA TXT MX CAA;
        grant {{ subdomain.name }}. name *.{{ subdomain.name }}. A AAAA;
        grant {{ subdomain.name }}. name mail._domainkey.{{ subdomain.name }}. TXT;
        grant {{ subdomain.name }}. name _dmarc.{{ subdomain.name }}. TXT;
        grant {{ subdomain.name }}. name _xmpp-client._tcp.{{ subdomain.name }}. SRV;
        grant {{ subdomain.name }}. name _xmpp-server._tcp.{{ subdomain.name }}. SRV;
        grant {{ subdomain.name }}. name xmpp-upload.{{ subdomain.name }}. A AAAA CNAME;
        grant {{ subdomain.name }}. name muc.{{ subdomain.name }}. A AAAA CNAME;
        grant {{ subdomain.name }}. name vjud.{{ subdomain.name }}. A AAAA CNAME;
        grant {{ subdomain.name }}. name pubsub.{{ subdomain.name }}. A AAAA CNAME;
        {%- endfor %}
    };
};
{% for subdomain in subdomains %}
key {{ subdomain.name }}. {
    algorithm hmac-sha512;
    secret "{{ subdomain.key }}";
};
{% endfor %}
{% endfor %}
