zone "{{ tld }}" {
    type master;
    serial-update-method date;
    file "{{ named_data_dir }}/{{ tld }}.db";
    update-policy {
        grant * selfsub .;
    };
};

{% for domain in domains %}
{% set name = domain[0] %}
{% set key = domain[1] %}
key {{ name }}. {
    algorithm hmac-sha512;
    secret "{{ key }}";
};
{% endfor %}
